/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/*Navigation Menu*/
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 2;
}

.navigation-menu {
  height: 50px;
  width: 90%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo p {
  font-size: 25px;
  font-weight: 200;
  padding: 0 15px;
  color: #000000;
  transition: all 0.5s linear;
  cursor: pointer;
}
.logo p a {
  text-decoration: none;
}

.logo p:hover {
  border: 1.5px solid black;
  border-radius: 5px;
}

.nav-right {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
}

.nav-right p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.35px;
  color: #222222;
}
.nav-right a {
  transition: all 0.5s linear;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transform: scaleX(0);
}
.nav-right a:hover {
  border-bottom: 2px solid #ffd000f5;
  transform: scaleX(1);
  color: #3a52bf;
}

.nav-right i {
  font-size: 12px;
  font-weight: 700;
  padding-top: 1px;
  color: #3a52bf;
  cursor: pointer;
}

/*Main Background*/
.main-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("asset\ 2.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.main-content {
  position: absolute;
  width: 890px;
  height: 280px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.heading {
  font-size: 27px;
  text-align: center;
}

/*Button Animation*/
.btn {
  display: flex;
  justify-content: center;
  position: relative;
}

.btn button {
  width: 149px;
  height: 40px;
  cursor: pointer;
  margin: 0 8px;
}

.btn-1 {
  background-color: #735cf9d7;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
}

.btn-1:hover {
  background-color: #735bff;
}
.btn-2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  cursor: pointer;
}
.btn-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #26a9d1;
  transition: all 0.5s;
  z-index: -1;
}
.btn-2:hover::before {
  width: 100%;
}

/*Section-1*/
section {
  position: relative;
  width: 100vw;
  top: 60px;
}
.middle-1 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.image-1 {
  width: 650px;
  height: 650px;
  position: relative;
  background-image: url(asset\ 3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
.content-1 {
  width: 360px;
  height: 310px;
  margin-bottom: 45px;
}
.content-1-head {
  font-size: 30px;
  margin-bottom: 20px;
}
.content-1-para {
  margin-bottom: 20px;
}
.content-1-btn {
  width: 150px;
  height: 45px;
}

/*Section-2*/
.middle-2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #e0e0e0f6;
}
.image-2 {
  width: 650px;
  height: 650px;
  position: relative;
  background-image: url(asset\ 4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}

/*Section-3*/
.section-3 {
  width: 100vw;
  height: 100vh;
  background-image: url(asset\ 1.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.middle-3 {
  display: flex;
  align-items: center;
}
.content-2 {
  width: 650px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 38px;
}
.content-2-head {
  font-size: 50px;
  margin-bottom: 15px;
}
.content-2-para {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.content-2-btn {
  width: 200px;
  height: 50px;
  font-size: 15px;
}

/*Footer With download button*/
.download {
  position: relative;
  top: 60px;
  width: 100%;
  height: 200px;
  background-color: #e0e0e0f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot {
  position: relative;
  width: 100%;
  height: 100px;
  top: 60px;
  background-color: #222;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.icon i:hover {
  color: #735cf9;
}
